<!-- Image https://landkit.goodthemes.co/assets/img/illustrations/illustration-2.png-->
<div class="jumbotron jumbotron-fluid row">
    <!-- col-12 col-md-5 col-lg-6 order-md-2  -->
    <div class="col-lg-6">
        <img 
            src="assets/images/illustrations/illustration-3.png" 
            class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" 
            alt="imagen fluida del header" 
            data-aos="fade-up" 
            data-aos-delay="100" />
    </div> 
    <div class="col-lg-4">
        <div class="container">
            <h1 class="display-4 fx-text fx-text-deepshadow">Eres YOUTUBER</h1>
            <p class="p-3 mb-2 text-white mytheme-bg-low shadow-lg rounded " >Tienes un público
                <span class="font-weight-bolder text-body text-uppercase">que te sigue</span>, y no sabes, como 
                <span class="font-weight-bolder text-body text-uppercase">aumentar</span>  tu audiencia<br> para 
                <span class="font-weight-bolder text-body text-uppercase">monetizar</span>  mejor tu canal.
            </p>
        </div>
    </div>
</div>
