<footer class="py-8 py-md-11 bg-blue-dark">
    
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
      
          <!-- Brand -->
          <img src="./assets/images/brand/cc_logo_white_160x160.png" alt="brand" 
          class="footer-brand img-fluid mb-2 logo-footer  mx-auto d-block">

          <!-- Text -->
          <p class="text-white mb-2 text-center">
            A better way to build.
          </p>

          <!-- Social -->
          <div class= "text-center">
            <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
              <li class="list-inline-item list-social-item mr-3">
                <a class="text-decoration-none">
                  <img src="./assets/images/icons-svg/social/instagram.svg" class="list-social-icon" alt="...">
                </a>
              </li>
              <li class="list-inline-item list-social-item mr-3">
                <a class="text-decoration-none">
                  <img src="./assets/images/icons-svg/social/facebook.svg" class="list-social-icon" alt="...">
                </a>
              </li>
              <li class="list-inline-item list-social-item mr-3">
                <a class="text-decoration-none">
                  <img src="./assets/images/icons-svg/social/twitter.svg" class="list-social-icon" alt="...">
                </a>
              </li>
              <li class="list-inline-item list-social-item">
                <a class="text-decoration-none">
                  <img src="./assets/images/icons-svg/social/youtube.svg" class="list-social-icon" alt="...">
                </a>
              </li>
            </ul>
          </div>

        </div>
        <div class="col-6 col-md-4 col-lg-2">
      
          <!-- Heading -->
          <h6 class="font-weight-bold text-uppercase text-white-50 mt-3 mb-2">
            Products
          </h6>

          <!-- List -->
          <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
            <li class="mb-3">
              <a class="text-reset">
                Page Builder
              </a>
            </li>
            <li class="mb-3">
              <a class="text-reset">
                UI Kit
              </a>
            </li>
            <li class="mb-3">
              <a class="text-reset">
                Styleguide
              </a>
            </li>
            <li class="mb-3">
              <a class="text-reset">
                Documentation
              </a>
            </li>
            <li>
              <a class="text-reset">
                Changelog
              </a>
            </li>
          </ul>

        </div>
        <div class="col-6 col-md-4 col-lg-2">
      
          <!-- Heading -->
          <h6 class="font-weight-bold text-uppercase text-white-50 mt-3 mb-2">
            Services
          </h6>

          <!-- List -->
          <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
            <li class="mb-3">
              <a class="text-reset">
                Documentation
              </a>
            </li>
            <li class="mb-3">
              <a class="text-reset">
                Changelog
              </a>
            </li>
            <li class="mb-3">
              <a class="text-reset">
                Pagebuilder
              </a>
            </li>
            <li>
              <a class="text-reset">
                UI Kit
              </a>
            </li>
          </ul>

        </div>
        <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">
      
          <!-- Heading -->
          <h6 class="font-weight-bold text-uppercase text-white-50 mt-3 mb-2">
            Connect
          </h6>

          <!-- List -->
          <ul class="list-unstyled text-muted mb-0">
            <li class="mb-3">
              <a class="text-reset">
                Page Builder
              </a>
            </li>
            <li class="mb-3">
              <a class="text-reset">
                UI Kit
              </a>
            </li>
            <li class="mb-3">
              <a class="text-reset">
                Styleguide
              </a>
            </li>
            <li class="mb-3">
              <a class="text-reset">
                Documentation
              </a>
            </li>
            <li class="mb-3">
              <a class="text-reset">
                Changelog
              </a>
            </li>
            <li class="mb-3">
              <a class="text-reset">
                Documentation
              </a>
            </li>
            <li>
              <a class="text-reset">
                Changelog
              </a>
            </li>
          </ul>

        </div>
        <div class="col-6 col-md-4 col-lg-2">
      
          <!-- Heading -->
          <h6 class="font-weight-bold text-uppercase text-white-50 mt-3 mb-2">
            Legal
          </h6>

          <!-- List -->
          <ul class="list-unstyled text-muted mb-0">
            <li class="mb-3">
              <a class="text-reset">
                Documentation
              </a>
            </li>
            <li class="mb-3">
              <a class="text-reset">
                Changelog
              </a>
            </li>
            <li>
              <a class="text-reset">
                Pagebuilder
              </a>
            </li>
          </ul>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
    
</footer>
<h1 class= "invertido text-center">
  <!-- example icons in bootstrap  -->
  <!-- visita: https://icons.getbootstrap.com/ -->
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-left-dots-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
  </svg>
  Captions Works!
</h1>
<!-- 
<div class="degradate degradate--intro"></div>
<div class="degradate degradate--1"></div>
<div class="degradate degradate--2"></div>
<div class="degradate degradate--3"></div>
<div class="degradate degradate--4"></div>
<div class="degradate degradate--5"></div>
<div class="degradate degradate--6"></div>
<div class="degradate degradate--7"></div>
<div class="degradate degradate--8"></div>
<div class="degradate degradate--9"></div>
<div class="degradate degradate--10"></div>
<div class="degradate degradate--11"></div>
<div class="degradate degradate--12"></div>
<div class="degradate degradate--brand"></div> -->



