
<!-- Image https://landkit.goodthemes.co/assets/img/illustrations/illustration-2.png-->
<div class="jumbotron jumbotron-fluid row">
    <!-- col-12 col-md-5 col-lg-6 order-md-2  -->
    <div class="col-lg-6">
        <img 
            src="assets/images/illustrations/illustration-2.png" 
            class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" 
            alt="imagen fluida del header" 
            data-aos="fade-up" 
            data-aos-delay="100" />
    </div> 
    <div class="col-lg-4">
        <div class="container">
            <h1 class="display-4 fx-text fx-text-elegantshadow">Conexión <br> Con <br> Subtítulos</h1>
            <p class="text-center text-gray-low p-3 mb-2  bg-blue-dark shadow-lg rounded degradate degradate--12" >
                Conecta con más <br> 
                <span class="font-weight-bolder  text-uppercase text-purple-low">público</span>, <br> 
                poniendo <br> 
                <span class="font-weight-bolder  text-uppercase text-green-low">subtítulos</span><br>  
                de calidad, en tus vídeos de <br>
                <span class="font-weight-bolder  text-uppercase text-red-middle">YOUTUBE.</span> 
            </p>
        </div>
    </div>
</div>
